numpy
pandas
redis
opencv-python-headless
scikit-learn
streamlit
streamlit-webrtc
insightface
onnxruntime
streamlit-authenticator
streamlit-custom-notification-box
streamlit-modal
st-pages
cmake  
plotly

          
